<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="windows-1256">
<title>Add new Page</title>
</head>
<body>

<section class="vh-100 gradient-custom">
<form th:action="@{/AddnewGame}" 	method="get">
<div class="alert alert-danger" role="alert">

</div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">ADD NEW </h2>
              <p class="text-white-50 mb-5">Please enter New Game</p>

              <div class="form-outline form-white mb-4">
                <input type="text" id="typeEmailX" class="form-control form-control-lg" name="name" />
                <label class="form-label" for="typeEmailX">name</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="text" id="typePasswordX" class="form-control form-control-lg"  name="type"/>
                <label class="form-label" for="typePasswordX">type</label>
              </div>
              
               <div class="form-outline form-white mb-4">
                <input type="text" id="typePasswordX" class="form-control form-control-lg"  name="mothdlg"/>
                <label class="form-label" for="typePasswordX">mothdlg</label>
              </div>
              
               <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg"  name="age"/>
                <label class="form-label" for="typePasswordX">age</label>
              </div>
              
			 <div class="form-outline form-white mb-4">
                 <input type="file" id="img" name="pic" accept="image/png, image/jpeg"> />
              </div>


              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>


            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="signup" class="text-white-50 fw-bold" >Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</section>
</body>
</html>